.Gd-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gd-logo {
  width: 15%;
  max-width: 150px;
}

.App-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 30rem;
}

.Quote-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Quote-text-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Quote-text {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Source Serif Pro";
  font-style: italic;
}

.Button {
  display: block;
  font-family: "Luckiest Guy";
  color: white;
  border-radius: 50px;
  margin-bottom: 1rem;
  border: none;
}

.Button:focus {
  outline: none;
}

.Button:active {
  transform: scale(0.98);
}

.Button-orange {
  background-color: rgb(243, 106, 42);
}

.Button-green {
  background-color: rgb(90, 231, 71);
}

.Button-red {
  background-color: rgb(231, 71, 71);
}

.Button-grey {
  background-color: grey;
}

.Button-blue {
  background-color: aquamarine;
}

#author-label {
  height: 1rem;
  font-size: 1rem;
  font-family: 'Source Serif Pro';
  font-weight: 600;
  margin-bottom: 2rem;
}

#points-label {
  font-size: 1.5rem;
  font-family: "Luckiest Guy";
  color: rgb(243, 189, 10);
}

#points-number {
  font-size: 1.5rem;
  font-family: "Luckiest Guy";
  color: black;
}

.Points-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .Kev-container {
    display: none;
  }
  
  .Kev-image {
    display: none;
  }

  .Quote-container {
    width: 100%;
  }

  .Quote-text-container {
    margin-bottom: 1rem;
    background-image: url(../images/transparent-kev.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Quote-text {
    position: relative;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .Button {
    font-size: 1rem;
    width: 40%;
    padding: 0.75rem 2rem 0.25rem 2rem;
  }
 
  .Button-grey {
    padding: 0.6rem 0.25rem 0.4rem 0.25rem;
    margin-bottom: 0.5rem;
    width: 20%;
  }

  .Button-blue {
    width: 20%;
    padding: 0.6rem 0.25rem 0.4rem 0.25rem;
    margin-bottom: 0.5rem;
  }

  .Points-row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 1025px) {
  .Kev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  
  .Kev-image {
    width: 100%;
    max-width: 200px;
    animation: kevpulse 2.5s infinite;
    -webkit-animation: kevpulse 2.5s infinite;
  }
  
  @keyframes kevpulse {
    0%, 100% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(0.9)}
  }
  
  @-webkit-keyframes kevpulse {
    0%, 100% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(0.9)}
  }
  
  .Quote-container {
    width: 75%;
  }
  
  .Quote-text {
    font-weight: 200;
    font-size: 1.75rem;
  }

  .Button {
    font-size: 1.5rem;
    width: 30%;
    padding: 0.75rem 3rem 0.25rem 3rem;
    transition-property: all;
    transition-duration: 300ms;
  }

  .Button:hover {
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
    transform: scale(1.1);
  }

  .Button-orange:hover {
    background-color: rgb(243, 189, 10);
  }

  .Button-grey {
    width: 20%;
  }

  .Button-blue {
    width: 20%;
  }

  .Points-row {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
