.Gd-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gd-logo {
  max-width: 10%;
}

.App-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 25rem;
}

.Kev-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25%;
}

.Kev-image {
  width: 50%;
  animation: kevpulse 2.5s infinite;
  -webkit-animation: kevpulse 2.5s infinite;
}

@keyframes kevpulse {
  0%, 100% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(0.9)}
}

@-webkit-keyframes kevpulse {
  0%, 100% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(0.9)}
}

.Quote-container {
  width: 75%;
  text-align: center;
}

.Quote-text {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Source Serif Pro";
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
}

.Button {
  font-size: 2rem;
  font-family: "Luckiest Guy";
  border-radius: 50px;
  padding: 0.75rem 2rem 0.25rem 2rem;
  border: none;
  transition-property: all;
  transition-duration: 300ms;
}

.Button:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transform: scale(1.1);
}

.Button:focus {
  outline: none;
}

.Button-orange {
  background-color: rgb(243, 106, 42);
  color: white;
}

.Button-orange:hover {
  background-color: rgb(243, 189, 10);
  color: white;
}