.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #efeff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Gd-header {
  background-color: #efeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gd-logo {
  max-width: 10%;
}

.App-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Kev-container {
  background-color: #efeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25%;
}

.Kev-image {
  max-width: 50%;
  animation: kevpulse 2.5s infinite;
  -webkit-animation: kevpulse 2.5s infinite;
}

/* image of kev is resizing with each render, bit weird - try to fix */

@keyframes kevpulse {
  0%, 100% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(0.9)}
}

@-webkit-keyframes kevpulse {
  0%, 100% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(0.9)}
}